.audioContainer {
  background: url(https://assets.codepen.io/12431/near8-logo-1.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: space-between;
}
